a, a > code {
  color: #ffcc00;
  text-decoration: none;
}

h1, h2, h3{
  font-family: Arial, Helvetica, Sans-Serif;
  color:#ffcc00;
  -webkit-text-stroke: 2px black;
}

.inverse{
  position: relative;
  justify-content: center;
  align-items: center;
  color:black;
  background-color: #666;
}

.inverse:before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/3/3e/SealofPLU.png);
  background-size: contain;
  background-position: middle center;
  opacity: 0.05;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #ffcc00;
  -webkit-text-stroke: 2px black;
}

.main{
  position: relative;
  justify-content: center;
  align-items: center;
  color:black;
}